* {
    background-color: rgb(5, 5, 5);
  }
  .html {
    width: 100%;
    max-height: 1920px;
    overflow: hidden;
  }
  .text {
    font-size: 48px;
    color: aliceblue;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
  }
  /* .orderBox {
    width: 700px;
    height: 700px;
    border: 1px solid whitesmoke;
    box-shadow: inset 0 0 10px 1px whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 169px;
  } */
  .blocked {
    background: rgba(7, 7, 7, 0.69);
    width: 300px;
    height: 350px;
    position: absolute;
    opacity: .99;
    top: 0px;
    z-index: 1;
    display: none;
  }
  .visible {
    display: block;
  }
  img {
    width: 300px;
    height: 350px;
  }
.paper {
  border: 1px solid white;
  width: 1200px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  display: flex;
  flex-direction: row;
  background: none;
  display: flex;
  overflow-y: hidden;
}

.leatherBio {
  width: 300px;
  height: 69px;
  background: black;
  color: aliceblue;
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  display: none;
  transition: all 2s ease-in-out;
}
.bio {
  display: none;
  transform: translate(200px);
  transition: all .2s ease-in-out;
}
.nextBtn {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: 250px;
  right: 325px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
}
.nextBtn:active,
.prevBtn:active {
  box-shadow: inset 0 0 10px 1px antiquewhite;
 }
.prevBtn {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: 250px;
  right: 150px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
}
.selected-image {
  border: 1px solid white;
  transition: all .8s ease-in-out;
}
.footer {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    color: aliceblue;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 300;
  }