* {
  background-color: rgb(5, 5, 5);
}
.html {
  width: 100%;
  max-height: 1920px;
}
.text {
  font-size: 48px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 69px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 300;
  cursor: default;
}
/* .orderBox {
    width: 700px;
    height: 700px;
    border: 1px solid whitesmoke;
    box-shadow: inset 0 0 10px 1px whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 169px;
  } */
.blocked {
  background: rgba(0, 0, 0, 0.9);
  width: 300px;
  height: 350px;
  position: absolute;
  opacity: 0.69;
  top: 0px;
  z-index: 1;
  display: none;
}
.visible {
  display: block;
}
img {
  width: 300px;
  height: 350px;
}
.paper .paper-content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll; /* Use overflow-y instead of overflow */
}
.paper .paper-content > * {
  width: 300px;
  height: 350px;
  flex-shrink: 0; 
}
.leather {
  border: 1px solid white;
  width: 1200px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  display: flex;
  flex-direction: row;
  background: none;
  overflow: hidden;
}
.paper {
  border: 1px solid white;
  width: 1200px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  display: flex;
  flex-direction: row;
  background: none;
  display: none;
  overflow: hidden;
}
.emblem {
  border: 1px solid white;
  width: 1200px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  display: flex;
  flex-direction: row;
  background: none;
  display: none;

}
.emblemBio {
  bottom: -20px;
  right: 200px;
}
.leatherBio{
  bottom: 0px;
}
.paperBio {
  bottom: -10px;
}
.leatherBio,
.paperBio,
.emblemBio {
  width: 300px;
  height: 69px;
  background: black;
  color: aliceblue;
  position: absolute;
  font-size: 20px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  display: none;
  transition: all 2s ease-in-out;
}
.bio {
  display: none;
  transform: translate(200px);
  transition: all 0.2s ease-in-out;
}
.nextBtn {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: 250px;
  right: 325px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
}
.nextBtn:active,
.prevBtn:active {
  box-shadow: inset 0 0 10px 1px antiquewhite;
}
.prevBtn {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: 250px;
  right: 150px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
}
.selected-image {
  border: 1px solid white;
  transition: all 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
}
.item { 
  width: 1250px;
  height: 420px;
  background: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.lbe {
  width: 100%;
  position: absolute;
  height: 40px;
  top: -50px;
  left: 2vw;
  text-align: justify;
  font-size: 46px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 300;
  cursor: default;
  background: none;
}
.form {
  border: 1px solid white;
  width: 600px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  box-shadow:  0 0 10px 10px white;
}
.form.visible {
  border: 1px solid white;
  width: 600px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.reviewPage{
  border: 1px solid white;
  width: 800px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  display: block;
  box-shadow: inset 0 0 10px 1px white;
}
.flexing {
  display: flex;
}
.reviewPage.visible {
  display: block;
}
.leatherType,
.paperType,
.emblemType,
.nameInfo,
.addressInfo,
.contactInfo {
  background: none;
  display: flex;
  justify-content: center;
    align-items: center;
    align-content: flex-start;
    color: aliceblue;
    font-size: 26px;
    height: 42px;
}
.reviewPgDiv {
  width: 95%;
  flex-direction: column;
  background: none;
  justify-content: space-between;
  height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  text-align: center;
  display: none;
  box-shadow:  0 0 10px 10px solid;
}
.reviewPgDiv.flexing {
  display: flex;
  cursor: default;
}
.order {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: -113px;
  right: -52px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
  display: none;
  text-transform: capitalize;
}
.order.visible {
  display: block;
}
.reviewBtn {
  width: 125px;
  height: 50px;
  position: absolute;
  bottom: -113px;
  right: -52px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
  display: none;
}
.name,
.address,
.contact {
  border: none;
  width: 96%;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 75px;
  background: none;
}
::placeholder {
  color : aliceblue;
  text-align: center;
}
.buttonSub {
  width: 125px;
  height: 500px;
  position: absolute;
  bottom: 250px;
  right: 325px;
  color: antiquewhite;
  font-size: 28px;
  border-radius: 10px;
  background-color: antiquewhite;
}
.menuBar {
  width: 100px;
  height: 400px;
  position: fixed;
  left: -50px;
  top: 25vh;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
}
.menuBar.moved {
  left: 0;
  transition: all 10s ease-in-out forwards;
  position: fixed;
  top: 25vh;
  border: 1px white solid;
  opacity: 0.99;
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
}
.homeBar {
  width: 100px;
  height: 100px;
  background: url(/assets/HomeBar.png);
  background-position: center;
  background-size: cover;
}
.galleryBar {
  width: 100px;
  height: 100px;
  background: url(/assets/galleryBar.png);
  background-position: center;
  background-size: cover;
}
.bioBar {
  width: 100px;
  height: 100px;
  background: url(/assets/BioBar.png);
  background-position: center;
  background-size: cover;
}
.offersBar {
  width: 100px;
  height: 100px;
  background: url(/assets/OfferBar.png);
  background-position: center;
  background-size: cover;
}
.orderBar {
  width: 100px;
  height: 100px;
  background: url(/assets/orderBar.png);
  background-position: center;
  background-size: cover;
}
.galleryBar:hover,
.homeBar:hover,
.offersBar:hover,
.orderBar:hover,
.bioBar:hover {
  transform: scale(1.2);
  transition: all .4s ease-in;
}
.footer {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 300;
}
::-webkit-scrollbar {
  background: black;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
  border-radius: 15px;
}
.paper .paper-content::-webkit-scrollbar-thumb:vertical {
  display: none;
}
